@model DietJournal.Web.Models.JournalIndexModel
@{
    ViewBag.Title = "Diet Journal";
    Layout = "~/Views/Shared/_Journal.cshtml";
}

@section LeftNav
{
    @if(Model.Wieght > 0)
    {
        <a href="">Weight: @Model.Wieght lbs</a>
    }
    else
    {
        <a href="@Url.Action("WeightEntry", new { date = Model.Date })" data-icon="check" data-transition="pop" data-rel="dialog">Weigh In</a>
    }
}
<center>
<table width="100%">
    <tr>
	    <td><a href="@Url.Action("Index", "Journal", new { date = Model.Date.AddDays(-1) })" data-role="button" data-icon="arrow-l" data-iconpos="notext" data-direction="reverse" data-transition="slide">Previous</a></td>
	    <td><input id="datepicker" type="text" value="@Model.Date.ToLongDateString()" readonly="readonly" /></td>
        <td><a href="@Url.Action("Index", "Journal", new { date = Model.Date.AddDays(1) })" data-role="button" data-icon="arrow-r" data-iconpos="notext" data-transition="slide">Next</a></td>
    </tr>
</table>
</center>
<br />
<br />
<ul data-role="listview">
	<li>@Html.ActionLink("Food", "Index", "Food", new { date = Model.Date }, null)</li>
    <li>@Html.ActionLink("Water", "Index", "Water", new { date = Model.Date }, null)</li>
    <li>@Html.ActionLink("Exercise", "Index", "Exercise", new { date = Model.Date }, null)</li>
	<li>@Html.ActionLink("Supplements", "Index", "Supplements", new { date = Model.Date }, null)</li>
</ul>
