@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Home/_Layout.cshtml";
}

<h3>Welcome to Fast Diet Journal!</h3>

<p>This is a completely free mobile website built to help you record and share your
dieting progress. With simplicity and speed at the heart of its design, this site offers tracking, reports, and sharing on the 
following common diet activities: @Html.ActionLink("food", "About", "Food"), @Html.ActionLink("water","About","Water"), 
@Html.ActionLink("supplements","About","Supplements"), and @Html.ActionLink("exercise", "About", "Exercise").</p>

<p>All are welcome to join and cancel at any time. Give it a try and if you like it @Html.ActionLink("donations", "Donate", "Home") are always 
welcome and appreciated. Plus, if you have any comments or suggestions, feel free give us your @Html.ActionLink("feedback", "Feedback", "Home").</p>

<a href="@Url.Action("Register","Account")" data-role="button" data-icon="plus" data-transition="slideup">Create an Account</a> 