@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Home/_Layout.cshtml";
}

<h3>Welcome to Fast Diet Journal!</h3>

<p>This is a completely free mobile website built to help you record and share your
dieting progress. While this site was originally built to assist people on the 
<a href="Http://www.medifast1.com" target="_blank">Medifast</a><sup>TM</sup> diet 
program, this site can help anyone on any type of dieting program.</p>

<p>With simplicity and speed at the heart of its design, this site offers tracking, reports, and sharing on the 
following common diet activities: @Html.ActionLink("food", "Food", "Home"), @Html.ActionLink("water","Water","Home"), 
@Html.ActionLink("supplements","Supplements","Home"), and @Html.ActionLink("exercise", "Exercise", "Home").</p>

<p>All are welcome to join and cancel at any time. Give it a try and if you like it @Html.ActionLink("donations", "Donate", "Home") are always 
welcome and appreciated. Plus, if you have any comments or suggestions, feel free give us your @Html.ActionLink("feedback", "Feedback", "Home").</p>

<a href="@Url.Action("Register","Account")" data-role="button" data-icon="plus" data-transition="slideup">Create an Account</a> 